body{
    background-color: rgb(104, 104, 104)
}

h1{
    font-size: 48px;
    text-align: center;
    color: #0d0941;
}

form{
    text-align: center;
    width: 30%;
    margin: auto;
}

legend{
    font-size: 24px;
    color: #000000;
    background-color: white;
    border-radius: 5px;
}

fieldset{
    border: 5px solid;
    border-color: #034770;
    border-radius: 16px;
    background-color: #F7FFF6;
}

label{
    font-size: 18px;
}

input{
    width: 80%;
    border: none;
    border-bottom: 2px solid #A38075;
    font-size: 14px;
    background-color: #F7FFF6;
}

input:focus{
    outline: none;
    background-color: #ECE8E6;
}

button, .boton{
    background-color: #F8AB94;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    text-transform: uppercase;
    color: #F7FFF6;
    border-style: solid;
    border-color: #4C1302;
    border-radius: 8px;
}

button:hover, .boton:hover {
    background-color: #f3c8bb;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
  }
